{{ define "main" }}
{{ partial "breadcrumb" . }}

<div class="title">
    <h1 class="h1">
        {{ .Title }}
    </h1>
</div>

<div class="tabs-selector">
    <ul class="tabs">
        <li class="tabs-item">
            <a href="{{ .Permalink }}">
                <div class="tabs-item-text">
                    {{ .Title | markdownify }}
                </div>
            </a>
        </li>
        {{ range .Pages }}
            <li class="tabs-item">
                <a href="{{ .Permalink }}">
                    <div class="tabs-item-text">
                       {{ .Title | markdownify }}
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
</div>

<div class="content">
    {{ .Content }}
</div>

{{ end }}