{{ define "main" }}
<h1 class="h1">{{ .Title }}</h1>

{{ $current := .}}

{{ with .Parent }}
<div class="tabs-selector">
    <ul class="tabs">
        <li class="tabs-item {{ if eq $current . }}active{{ end }}">
            <a href="{{ .Permalink }}">
                <div class="tabs-item-text">
                    {{ .Title | markdownify }}
                </div>
            </a>
        </li>
        {{ range .Pages }}
            <li class="tabs-item {{ if eq $current . }}active{{ end }}">
                <a href="{{ .Permalink }}">
                    <div class="tabs-item-text">
                       {{ .Title | markdownify }}
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ .Content }}

{{ with .Params.next }}
<div class="next">
    <a href="{{ . }}">Suite</a>
</div>
{{ end }}

{{ end }}