{{ define "main" }}

{{ with .Params.banner }}
    <img src="{{ . }}" >
{{ end }}

{{ $current := .}}

{{ with .Parent }}
<div class="tabs-selector">
    <ul class="tabs">
        {{ if ne $current . }}
        <li class="tabs-item {{ if eq $current . }}active{{ end }}">
            <a href="{{ .Permalink }}">
                <div class="tabs-item-text">
                    {{ .Title }}
                </div>
            </a>
        </li>
        {{ end }}
        {{ range .Pages }}
        {{ if ne $current . }}
            <li class="tabs-item {{ if eq $current . }}active{{ end }}">
                <a href="{{ .Permalink }}">
                    <div class="tabs-item-text">
                       {{ .Title }}
                    </div>
                </a>
            </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}

<div class="title">
    <h1 class="h1">
        {{ .Title }}
    </h1>
</div>

<div class="content">
    {{ .Content }}
</div>

{{ with .Params.next }}
<div class="next">
    <a href="{{ . }}">Suite</a>
</div>
{{ end }}

{{ end }}