html {
    background: #FFF;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    overflow-y: scroll;
}

body {
    margin: 2rem auto;
    max-width: 70ch;
    padding: 1rem;
}

body>*+*,
main>*+* {
    margin-top: 2rem;
}

iframe {
    max-width: 100%;
}

header,
footer {
    background: #edd;
}

nav {
    background: #ded;
}

nav.main ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav.main li {
    list-style-type: none;
    flex-grow: 5;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

ul.tabs {
    background: #dce;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.tabs li {
    flex-grow: 10;
    list-style-type: none;
    margin: 0;
    padding: .3rem;
    text-align: center;
}

.breadcrumb {
    background: #dee
}

figure {
    margin: 2rem 0;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

div.next {
    background: lightseagreen;
    color: green;
    text-align: center;
    font-weight: 900;
}
